
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <h2>Interview Questions and Answer By Category</h2>
      </div>
      <div class="col-sm-3 text-right">
        <a ui-sref="interview" target="_blank" class="btn btn-info btn-sm see-all">See All</a>
      </div>
      <div class="col-sm-12">
        <ul class="category-tiles">
          <li><a ui-sref="interview" target="_blank" class="light-mehroon">HTML5</a></li>
          <li><a ui-sref="interview" target="_blank" class="skyblue-color">CSS3</a></li>
          <li><a ui-sref="interview" target="_blank" class="light-green">Javascript</a></li>
          <li><a ui-sref="interview" target="_blank" class="yellow">Jquery</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>