<div class="container" ng-controller="NavCtrl">
	<ul class="nav nav-pills pull-right">
		<li role="presentation" class=""><a ui-sref="articles">Home</a></li>
		<li role="presentation"><a ui-sref="about">About</a></li>
		<li role="presentation" ng-show="isLoggedIn()"><a ui-sref="interview" target="_blank">Interview Questions</a></li>
		<li role="presentation" ng-hide="isLoggedIn()"><a ui-sref="signup">Sign Up</a></li>
		<li role="presentation" ng-hide="isLoggedIn()"><a ui-sref="signin">Sign In</a></li>
		<li role="presentation" ng-show="isLoggedIn()"><a ui-sref="#" ng-click="signout()">Sign Out</a></li>
		<li role="presentation" ng-show="isLoggedIn()">Welcome {{current_user}}</li>
	</ul>

	<!-- <nav class="navbar navbar-default pull-right" ng-controller="NavCtrl">
		<ul class="nav navbar-nav">
		  <li ng-show="isLoggedIn()"><a>{{ currentUser() }}</a></li>
		  <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
		  <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
		  <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
		</ul>
	</nav> -->
</div>
