<div class="panel panel-success"> 
	<div class="panel-heading"> 
		<h3 class="panel-title">Popular Questions</h3> 
	</div> 
	<div class="panel-body">
		<div class="popular-question-box">
			<div class="user-img">
				<img class="" src="/assets/images/user.gif" alt="Jason's Photo">
			</div>
			<a href="" class="text-primary">How can I improve air conditioning effectiveness in my old car?</a>
		</div>
		<div class="popular-question-box">
			<div class="user-img">
				<img class="" src="/assets/images/user.gif" alt="Jason's Photo">
			</div>
			<a href="" class="text-primary">How to import csv file with some required fields missing?</a>
		</div>
		<div class="popular-question-box">
			<div class="user-img">
				<img class="" src="/assets/images/user.gif" alt="Jason's Photo">
			</div>
			<a href="" class="text-primary">Can I say "Call it a project" similar to "Call it a day?</a>
		</div>
		<div class="popular-question-box">
			<div class="user-img">
				<img class="" src="/assets/images/user.gif" alt="Jason's Photo">
			</div>
			<a href="" class="text-primary">Return from function does not work</a>
		</div>
		<div class="popular-question-box">
			<div class="user-img">
				<img class="" src="/assets/images/user.gif" alt="Jason's Photo">
			</div>
			<a href="" class="text-primary">Someone who does not like excess</a>
		</div>
		<div class="popular-question-box">
			<div class="user-img">
				<img class="" src="/assets/images/user.gif" alt="Jason's Photo">
			</div>
			<a href="" class="text-primary">How can I improve air conditioning effectiveness in my old car?</a>
		</div>
		<div class="popular-question-box">
			<div class="user-img">
				<img class="" src="/assets/images/user.gif" alt="Jason's Photo">
			</div>
			<a href="" class="text-primary">How to import csv file with some required fields missing?</a>
		</div>
		<div class="popular-question-box">
			<div class="user-img">
				<img class="" src="/assets/images/user.gif" alt="Jason's Photo">
			</div>
			<a href="" class="text-primary">Can I say "Call it a project" similar to "Call it a day?</a>
		</div>
		<div class="popular-question-box">
			<div class="user-img">
				<img class="" src="/assets/images/user.gif" alt="Jason's Photo">
			</div>
			<a href="" class="text-primary">Return from function does not work</a>
		</div>
		<div class="popular-question-box">
			<div class="user-img">
				<img class="" src="/assets/images/user.gif" alt="Jason's Photo">
			</div>
			<a href="" class="text-primary">Someone who does not like excess</a>
		</div>
	</div> 
</div>