<navigation></navigation>

<section ng-include="'views/common/sub-links.html'"></section>
<section class="container">
  <!-- All Articles Section -->
  <section class="col-lg-8 col-md-8" ng-include="'views/common/all-articles.html'">

  </section>
  <section class="col-lg-4 col-md-4">
  <!-- TOPIC TAGS ON RIGHT TOP SIDE -->
    <div class="col-sm-12 tag-section" ng-include="'views/common/tag-section.html'">
      
    </div>
  <!-- Popular questions on right side -->
    <div class="col-sm-12 popular-question" ng-include="'views/common/popular-questions.html'">
      
    </div>
    
  </section>
</section>

<div ng-View></div>