<navigation></navigation>
<section class="container" ng-include="'views/common/sub-links.html'"></section>

<div class="container">
	<div class="col-sm-8">
		<h1>Articles</h1>
		<form ng-show="vm.isLoggedIn" ng-submit="vm.postArticle()">
			<div class="form-group">
				<input class="form-control" required type="text" placeholder="Title" ng-model="vm.title" />
			</div>
			<!-- <textarea class="form-control" required maxlength="400" rows="3" placeholder="Description" ng-model="article.text"></textarea> -->
			<div class="form-group">
				<!-- <textarea ui-tinymce="tinymceOptions" ng-model="article.text"></textarea>  -->
				<text-angular name="textBox" ng-model="vm.text" required></text-angular>
			</div>
			<div class="form-group">
				<!-- <input class="form-control" required type="text" placeholder="Tags" data-role="tagsinput" ng-model="article.tags" /> -->
				<tags-input ng-model="vm.tags"></tags-input>
			</div>
			<button type="submit" class="btn btn-default">Post</button>
			<!-- <button class="btn btn-default" ng-click="update()" ng-show="editMode">Update</button> -->
		</form>
		<div ng-hide="vm.isLoggedIn">
			<h3>You need to <a href="signin">Log In</a> or <a href="signup">Register</a> before you can comment.</h3>
		</div>
	</div>

	<div class="col-sm-4" style="display: ;">
		<!-- TOPIC TAGS ON RIGHT TOP SIDE -->
		<div class="col-sm-12 tag-section" ng-include="'views/common/tag-section.html'">
			
		</div>
		<div class="col-sm-12">
			<div class="post-instructions">
				<h2>How to Post</h2>
				<h4>Welcome to abc and we would help you to post your question and expect to get better response about your query. </h4>
				<div class="">
					<ul>
						<li>Fiest field represent the Title of your Question , how you want to show your question. question should be more meaningful so maximum number of members can understand your query and can reply accordingly.</li>
						<li>Next field represent the description about your question, what you want to ask. you are suppose to write more specific description about your query to get huge number of response.</li>
						<li>For the description detail you have multiple choice to enter like: you can copy and paste your code on select the "Toggle HTML" option and want to write your query in specific format like code so you can use "pre" tag from the above given options.</li>
						<li>Tag field represent the unique word related to your query so other member can understood that which topic is related your question or query. </li>
					</ul>
				</div>
			</div>
		</div>	
	</div>
</div>
